body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background: linear-gradient(135deg, #000000, #2674fc);
  color: #fff;

}
h2{
 padding-left: 20px;
 text-align: center;
 margin-bottom: 0%;
}


.PP{
  margin-top: 50px;
}
#resultado{
 color: rgb(255, 255, 255);
 text-align:center;
 margin-right: 0px;
 border-radius: 4px;
 font-size: 35px;
 background: linear-gradient(135deg, #000000, #2674fc);
color: #ffffff;
}

button{
margin-left: 120px;
border-style: solid;color: black;
border-radius: 30px;
margin-top: 50px;
margin-left: 20px;
padding: 30px;
font-size: medium;
 display:block;
  position:relative;
  padding:20px 40px;
  font-size: 20px;
}
button:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 35px rgba(0,0,0,0.5);

}

#select1{
margin: 0px;
padding: 0%;
font-size: medium;
 font-size: 20px;
}

#select2{
font-size: medium;
transform: scale(1.05);
 font-size: 20px;
}
#select3{

font-size: medium;
transform: scale(1.05);
 font-size: 20px;
}

#select4{


font-size: medium;
transform: scale(1.05);
font-size: 20px;
}


#select5{

font-size: medium;
transform: scale(1.05);
font-size: 20px;
}





select{
   border-radius: 50px;
  text-align: center;
outline: none;
  transition: all 0.3s ease;
  background: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  width: 100%;   
  padding: auto; 
}
select:hover {
  background: rgba(255, 255, 255, 1);
  transform: scale(1.03);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}




